.sizesRow {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 16px;
}

.size {
  border: 1px solid #1f6d3d;
  color: #1f6d3d;
  border-radius: 12px;
  text-align: center;

  padding-top: 3px;
  padding-bottom: 3px;
  width: 60px;

  background-color: white;

  font-size: 14px;
  font-weight: 550;
}

.selectedSize {
  @extend .size;
  color: white;
  background-color: #1f6d3d;
}

.label {
  margin-bottom: 8px;
  font-size: 16px;
  color: black;
}
