.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

.imageWrap {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
  background: #f7fff7;
  box-shadow: 0 0 12px rgba(0, 50, 0, 0.05);
  transition: all 0.3s ease;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
  touch-action: pan-y;
  border-radius: 14px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  height: 597px;
}

/* ✨ Анімації */
.fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}

/* Слайд ефект */
.slideLeft {
  animation: slideLeft 0.25s ease;
}

.slideRight {
  animation: slideRight 0.25s ease;
}

@keyframes slideLeft {
  from {
    transform: translateX(40px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-40px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Нижній ряд з превʼюшками */
.imagesRow {
  display: flex;
  gap: 10px;
  margin-top: 14px;

  justify-content: center;
  padding-bottom: 4px;
  scroll-behavior: smooth;
  margin-bottom: 16px;
}

.smallImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  opacity: 0.6;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);

  &:hover {
    opacity: 0.9;
    transform: scale(1.03);
  }
}

.selectedSmallImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #1f5c2e;
  opacity: 1;
  box-shadow: 0 0 10px rgba(31, 92, 46, 0.25);
  transform: scale(1.05);
  transition: all 0.25s ease;
}
